<?xml version="1.0" encoding="UTF-8" ?>
<configuration
    xmlns="http://ch.qos.logback/xml/ns/logback"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback http://ch.qos.logback/xml/ns/logback/logback.xsd" >

	<property name="LOG_HOME" value="/log" />
		
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level {HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
    
    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
        	<level>ERROR</level>
        	<onMatch>ACCEPT</onMatch>
        	<onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_HOME}/server-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/server-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%thread] [%X{traceId}] %logger{36} %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">           
            <fileNamePattern>${LOG_HOME}/server.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>     
            <totalSizeCap>10GB</totalSizeCap>       
            <maxFileSize>100MB</maxFileSize> 
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level [%thread] [%X{traceId}] %logger{36} %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="INFO">
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref="FILE_INFO"/>
   		<appender-ref ref="FILE_ERROR"/>
	</root> 
		
	<logger level="TRACE" name="com.kakao.dy" />	
    <logger level="INFO" name="org.springframework.web" />  
   
	<logger name="jdbc.sqlonly" 		level="INFO"  additivity="false"/>
    <logger name="jdbc.sqltiming" 		level="off" additivity="false"/>
    <logger name="jdbc.audit" 			level="off" additivity="false"/>
    <logger name="jdbc.connection" 		level="off" additivity="false"/>
	<logger name="jdbc.resultset" 		level="off" additivity="false"/>
	<logger name="jdbc.resultsettable" 	level="off" additivity="false" />
		
</configuration>